 @{
    Layout = "_Layout";
}

<head>
    <meta charset="UTF-8">
    <title>Comentários</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/style-login.css" rel="stylesheet" type="text/css">
</head>

<nav class="nav-bar">
     <div class="nav-container">
         <ul class="nav-list " id="nav">
             <li><a href='@Url.Action("Index","Administrador")'>Principal</a></li>
             <li><a href='@Url.Action("Cadastros","Administrador")'>Cadastros</a></li>
             <li><a href='@Url.Action("Comentarios","Administrador")'> Comentários</a></li>
            
            <li><a id="bt_logout" asp-controller="Cliente" asp-action="Logout">Logout</a></li>
            
             
        </ul>
    </div>
</nav>

<div class ="linha_amr">
    <section>
        <div class="dashboard">
            <div id="usuarios">
                <p>Total de Usuarios Cadastrados: @ViewData["quantidadeDeUsuarios"]</p>
            </div>

            <div id="comentarios">
                <p>Total de Comentarios: @ViewData["quantidadeDeComentarios"]</p>

            </div>

        </div>
    </section>

</div>




